<!--? Video Area Start -->
<div class="video-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="video-wrap">
                    {% if section.settings.video_url == blank %}
                        <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                        {% if section.settings.video_url.type == "youtube" %}
                            <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Arrow -->
        <div class="thumb-content-box">
            <div class="thumb-content">
                <h3>Next Video</h3>
                <a href="#"> <i class="ti-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Video Area End -->


{% schema %}
{
"name": {
"en": "Video"
},
"class": "index-section",
"settings": [
{
"type": "text",
"id": "heading",
"label": {
"en": "Heading"
},
"default": {
"en": "Video"
}
},
{
"type": "video_url",
"id": "video_url",
"label": {
"en": "Video link"
},
"accept": [
"youtube"
]
}
],
"presets": [
{
"name": {
"en": "Video"
},
"category": {
"en": "Video"
}
}
]
}
{% endschema %}

